doctype 5
html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/leaflet.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/MarkerCluster.css')
	link(rel='stylesheet', href='/stylesheets/MarkerCluster.Default.css')
	script(src='/javascripts/leaflet.js')
	script(src='/javascripts/leaflet.markercluster-src.js')
	script(src='/javascripts/leaflet.markercluster.js')
	script(src='/javascripts/topojson.v1.min.js')
	script(src='/javascripts/jquery-2.0.3.min.js')
	script(src="http://d3js.org/d3.v3.min.js")
	
body
	block content